@charset "ISO-8859-1";
/*  sub header css*/
.subheader-container{
	background-color:lightblue !important;
	font-size:20px;
	display:flex;
	flex-direction:row;
	justify-content:space-around; 
}

.pop{
    display:none;
    position:absolute;
    z-index: 99999;
    padding: 10px;
    background: gray;
    border: 1px solid #A2ADBC;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
/* sub header hover drop down */
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
/* body div css */
 #mainDiv{
	display:flex;
	flex-direction:row;
	height:100% ;
	width:100%;
	position:absolute;
}
#firstDiv{
	background-color:lime;
	height:100% ;
	width:30%;
	border:3px solid #808080;
	resize: both;
  	overflow: auto;
}
#secondDiv{
	background-color:#ffff80;
	height:100%;
	width:70%;
	border:3px solid #808080;
	resize: both;
  	overflow: auto;
} 



